html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
html{
	height:100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 100%;
    height: 100%;
	background-color:black;
	color:white;
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: 600;


}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}



.pink {
	color: #ed008c;
}

.height150 {
	width:100%;

	height:100px;
}


.height250 {
	width:100%;

	height:250px;
}


#titlepage h1 {
	font-weight: 600;
	font-size: 14em;
	margin: auto;
	text-align: center;
	color:white;
}



#page1
{
	font-weight: 600;
	font-size: 4em;
	margin: auto;
	text-align: left;
	width:100%;
	height:100%;
}
.padding1 {
	margin-top:200px;
}
.padding2 {
	margin-top:200px;
}
#page1 p {
	margin-left:100px;
	
}

#page1 .begin {
	font-size: 6em;
	margin-left:100px;
	font-weight:700;
	bottom:150px;
	opacity:.5;
	z-index: -1;
}



button {
background:none;
  border:none;


	
	
}
#titlepage a {
	
}



.flexRowCenter {
	display: flex;
	flex-direction: row;
}




.red{
	color:#fae003;
	background-color:#ea272d;
}

.blue {
	color:#ea272d;
	background-color:#0098db;
	
}
.yellow {
	color:#0098db;
	background-color:#fae003;
}
.tan {
	color:#fbf8e7;
	background-color:#fbf8e7;
	
}
.blackBack
{
	background-color:black;
	color: white;
}
#titlepage {
	height:100%;
}

#titlepage p {
	text-align: center;
	margin-top: 20px;
	font-weight:500;
	font-size: 1.5em;
	
}

.flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
}

.slideDown {
	display:none;
	position: absolute;
	float:right;
	width:100%;
	text-align: center;
	left:350px;
}

.100 {
	height:100%;
	width:100%;
}



.fontRed{
	color:#ea272d;
}
.fontPurple{
	color:#5C3ECA;
}
.fontYellow{
	color:#fae003;
}

.ani1 {
	
}
.abs { 
	position: absolute;
}


.none1{
	visibility: hidden;
	opacity:0.3;
	top:10px;
	left:5px;
}
.none2{
	visibility: hidden;
	opacity:0.5;
	top:3px;
	left:-12px;
}
.none3{
	visibility: hidden;
	opacity:0.7;
	top:-15px;
	left:5px;
}

.rel {
	position: relative;
}



#page2 h1 {
	font-size: 6em;
	
}

#page2 {
	margin-left:250px;
}

#page2 p {
	font-size: 4em;

	
}

p {
	max-width: 1000px;
	line-height: 125%;
	
}

.padding100 {
	
	margin-top:100px;

	
}

h4 {
	font-size:8em;
	margin-left:10%;
}

.musicWarning {
	font-size:10em;
}

.padding200 {
	height:200px;
}

.hidden {
	visibility: hidden;
}

.pxlH1 {
	left:2%;
	z-index: -1;
}

.pxlH2 {
	left:4%;
	z-index: -1;
	bottom:50px;
}

.pxlH3 {
	top:20%;
	left:6%;
	z-index: -1;
}

.pxlH4 {
	top:80%;
	left:8%;
	z-index: -1;
}

.italic {
	font-style: italic;
	bottom:100px;
}

.padding50 {
	height:50px;
}

.right {
	left:900px;
}

.pxlH5 {
	left:2%;
}

.pxlH6 {
	left:8%;
}

.pxlH7 {
	left:12%;
}

.pxlH8 {
	top:50px;
	left:20%;
}

.fire1 {
	top:15%;
	left:45%;
	z-index: -1;

}

.fire2 {
	z-index: -1;
	top:10%;
	left:50%;

}

.fire3 {

	top:60%;
	left:25%;
	z-index: -1;

}

.fire4 {
	top:80%;
	left:11%;
	z-index: -1;
}

.springBreak {
	width:100%;
}

.whiteBack {
	background-color:white;
}

.padding600 {
	padding-top:600px;
}

.up20 {
	bottom:20px;
}

.flameBack {
	z-index: -1;
}

#springBreakPage {
		height:100%;

}

.greyBack {
	background-color:lightslategrey;
}

.fullScreen {
	width:100%;
	height:100%;
}

#ecstasy {
	
}

.purpleBack {
	background-color: #5C3ECA;
}

#ecstasy p {
	font-size: 4em;
	margin-left:250px
	
}
